*{
    margin: 0;
    padding: 0;
}
.section-one,.section-two,.imgholder{background-color: #1F2937;}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header ul,.para1{
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
    
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.heromaintext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.butt{
    background-color: #3882F6;
  color: white;
  padding: 2%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  margin-top: 10px;
  border-radius: 12px;
}
.imgholder{
    height: 100px;
    width: 400px;
    background-color: #E5E7EB;
    padding: 50px;
    align-items: center;
    justify-content: center;
   margin: 10px;
   margin-left:50px ;
   display: flex;
}

.section-two{

    display: flex;
    padding-bottom: 50px;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding-top:50px ;
    
}
.three{
    width: 500px; ;
}
.four{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 12px;   
}
.box-text{
    height: 100px;
    width: 100px;
    text-align: center;
}
.info{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
    
}

.nothing{
    padding-top: 100px;
}
.by{
    display: flex;
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
    justify-content: flex-end;
    align-items: self-end;
}
.sentence{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: lighter;
    font-style: light italic;
    justify-content: center;
    align-items: center;
    width: 1000px;
}
.quote{
    display: flex;
    justify-content: center;
    padding: 90px;
    background-color: #E5E7EB;
    text-align: center;
}

.foot{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin:100px ;
    margin-left:260px ;
    background-color: #3882F6;
    padding: 40px;
    width:800px;
}
.section-four{
    display:flex;
    background-color: white;
}
.buttone{
    border-radius: 8px;
    border-color: white;
    margin-left: 40px;
}
.heading{
    font-size: 30px;
    color: white;
}
.para2{
    font-size: 20px;
    color: #E5E7EB;
}
.copyright{
    justify-content: center;
    display:flex;
    border:150px;
    height: 100px;
    align-items: center;
    background-color: #1F2937;
    color:#E5E7EB
}